{{> header}}

	<section class="secondary-pages-banner">
		<div class="banner-content text-center">
			<div class="heading-area">
				<h4 class="heading">{{title}}</h4>
				<div class="crumbs">
					<nav aria-label="breadcrumb" class="breadcrumb-items">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/" class="link">Home</a></li>
							<li class="breadcrumb-item"><a href="/dashboard" class="link">Dashboard</a></li>
              {{#if breadcrumb}}
							<li class="breadcrumb-item"><a href="/dashboard/{{select}}" class="link">{{breadcrumb}}</a></li>
              {{/if}}
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</section>


	<section class="account-sec padding-top padding-bottom bg-2">
		<div class="container">
			<div class="row border-row">
				<div class="col-12 col-lg-4">
					<div class="menu-bar">
						<div class="user-globe-details text-center">
							<div class="img-holder rounded-pill">
								<img src="/img/avatar.jpg" alt="picture"
									class="rounded-pill">
							</div>
              {{#ifEquals user.role 'admin'}}<i class="la la-crown admin-crown"></i>{{/ifEquals}}
							<h4 class="user-name">{{user.name}}</h4>
							<!-- <h4 class="user-name">Kanao Tsuguri</h4> -->
							<!-- <span class="user-email">kanao@demonslayers.co</span> -->
							<span class="user-email">{{user.email}}</span>
						</div>
						<div class="menu-tabs">
							<ul class="nav nav-tabs flex-column nav-pills" role="tablist">
                <li class="nav-item">
									<a href="/dashboard" class="nav-link {{#ifEquals select 'account'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#account" role="tab"
										aria-controls="account" aria-selected="true"><i class="la la-user mr-2"></i>Account</a>
								</li>

                {{#ifEquals user.role 'user'}}
                <li class="nav-item">
									<a href="/dashboard/reviews" class="nav-link {{#ifEquals select 'reviews'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#reviews" role="tab"
										aria-controls="reviews" aria-selected="false"><i class="la la-star mr-2"></i>My Reviews</a>
								</li>
								<li class="nav-item">
									<a href="/dashboard/orders" class="nav-link {{#ifEquals select 'orders'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#profile" role="tab"
										aria-controls="profile" aria-selected="false"><i class="la la-shopping-cart mr-2"></i>My Orders</a>
								</li>
                {{/ifEquals}}

                <!-- Admin Tabs -->
                {{#ifEquals user.role 'admin'}}
                <li class="nav-item">
									<a href="/dashboard/foods" class="nav-link {{#ifEquals select 'foods'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#foods" role="tab"
										aria-controls="foods" aria-selected="false"><i class="la la-carrot mr-2"></i>Foods</a>
								</li>
                <li class="nav-item">
									<a href="/dashboard/users" class="nav-link {{#ifEquals select 'users'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#users" role="tab"
										aria-controls="users" aria-selected="false"><i class="la la-user-friends mr-2"></i>Users</a>
								</li>
                <li class="nav-item">
									<a href="/dashboard/reviews" class="nav-link {{#ifEquals select 'reviews'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#reviews" role="tab"
										aria-controls="reviews" aria-selected="false"><i class="la la-star mr-2"></i>Reviews</a>
								</li>
                <li class="nav-item">
									<a href="/dashboard/orders" class="nav-link {{#ifEquals select 'orders'}}active{{/ifEquals}}" data-toggle="tab" data-tab-href="#profile" role="tab"
										aria-controls="profile" aria-selected="false"><i class="la la-shopping-cart mr-2"></i>Orders</a>
								</li>
                {{/ifEquals}}

                <!-- General Tab -->
								<li class="nav-item">
									<a class="nav-link log-out" href="/logout"><i class="la la-lock mr-2"></i>Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="main-content">
						<div class="tab-content">
              {{#ifEquals select 'account'}}
							<div class="tab-pane fade show active text-center" id="dashboard" role="tabpanel" aria-labelledby="account-tab">
                <h3 class="mt-3 ml-1 mb-4 text-white text-capitalize">Update account details</h3>
								<form autocomplete="off" method="POST" action="/dashboard/users/{{user._id}}?_method=PUT">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="_option" value="userDetails">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <input class="form-control" type="text" name="name" placeholder="Full Name" value="{{user.name}}" required>
                    </div>
                    <div class="col-12 col-lg-6">
                      <input class="form-control" type="text" name="email" placeholder="E-mail Address" value="{{user.email}}" required>
                    </div>
                  </div>
                  <div class="form-button">
                    <button type="submit" class="btn btn-large rounded-pill main-btn">Update</button>
                  </div>
                </form>
                <hr>
                <h3 class="mt-4 pt-4 ml-1 mb-4 text-white text-capitalize">Update account password</h3>
								<form autocomplete="off" method="POST" action="/dashboard/users/{{user._id}}?_method=PUT">
                  <input type="hidden" name="_method" value="PUT">
                  <input type="hidden" name="_option" value="userPassword">
                  <div class="row">
                    <div class="col-12">
                      <input class="form-control" type="password" name="currentPassword" placeholder="Password" minlength="6" required>
                    </div>
                    <div class="col-12 col-lg-6">
                      <input class="form-control" type="password" name="newPassword" placeholder="New Password" minlength="6" required>
                    </div>
                    <div class="col-12 col-lg-6">
                      <input class="form-control" type="password" name="confirmNewPassword" placeholder="Confirm New Password" minlength="6" required>
                    </div>
                  </div>
                  <div class="form-button">
                    <button type="submit" class="btn btn-large rounded-pill main-btn">Update</button>
                  </div>
                </form>
							</div>
              {{/ifEquals}}

              {{#ifEquals select 'reviews'}}
							<div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <!-- Edit Review Modal -->
                <div class="modal-overlay">
                  <div class="modal reviewEditModal">
                    <div class="modal-content">
                      <a class="close-modal reviewEditModal">
                        <svg viewBox="0 0 20 20">
                          <path fill="#fff" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                        </svg>
                      </a>
                      <h4 class="text-white" style="margin-top: -10px;">Edit Review</h4>
                      <form action="/dashboard/reviews/id" method="POST" autocomplete="off" id="reviewEditForm" style="margin-top: 20px; text-align: center;">
                        <input type="hidden" name="_method" value="PUT">
                        <input class="form-control" type="text" name="title" edit placeholder="Title" required>
                        <textarea class="form-control" name="content" edit rows="4" placeholder="Content" required></textarea>
                        <div class="rating-box">
                          <input class="sr-only" id="star10" name="rating" edit type="radio" value="10">
                          <label class="rating-star" for="star10">10</label>

                          <input class="sr-only" id="star9" name="rating" edit type="radio" value="9">
                          <label class="rating-star" for="star9">9</label>

                          <input class="sr-only" id="star8" name="rating" edit type="radio" value="8">
                          <label class="rating-star" for="star8">8</label>

                          <input class="sr-only" id="star7" name="rating" edit type="radio" value="7">
                          <label class="rating-star" for="star7">7</label>

                          <input class="sr-only" id="star6" name="rating" edit type="radio" value="6">
                          <label class="rating-star" for="star6">6</label>

                          <input class="sr-only" id="star5" name="rating" edit type="radio" value="5">
                          <label class="rating-star" for="star5">5</label>
                          
                          <input class="sr-only" id="star4" name="rating" edit type="radio"value="4">
                          <label class="rating-star" for="star4">4</label>
                          
                          <input class="sr-only" id="star3" name="rating" edit type="radio" value="3">
                          <label class="rating-star" for="star3">3</label>
                          
                          <input class="sr-only" id="star2" name="rating" edit type="radio" value="2">
                          <label class="rating-star" for="star2">2</label>
                          
                          <input class="sr-only" id="star1" name="rating" edit type="radio" value="1">
                          <label class="rating-star" for="star1">1</label>

                          <span class="rating-total"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-large rounded-pill main-btn">Update Review</button>
                      </form>
                    </div>
                  </div>
                </div>

								{{#if reviews}}
                  <div class="row">
                  {{#each reviews}}
                  <div class="col-md-6">
                    <div class="review-box alt-hover">
                      <span class="la la-pen review-edit" data-review-id="{{_id}}" data-review-title="{{title}}" data-review-content="{{content}}" data-review-rating="{{rating}}"></span>
                      <div class="avatar-box">
                        <img src="/img/logo-large.png">
                      </div>
                      <p>{{content}}</p>
                      <div class="rating">★ {{rating}}/10</div>
                    </div>
                  </div>
                  {{/each}}
                  </div>
                {{else}}
                  <div class="text-center padding-top padding-bottom">
                    <h4 class="text-white">No Reviews Added</h4>
                    <p class="mt-4" style="color: #fc2547; text-shadow: 0 0 #fc2547;">Browse through our foods to add a review</p>
                    <a href="/foods" class="btn btn-large rounded-pill main-btn">Browse Foods</a>
                  </div>
                {{/if}}
							</div>
              {{/ifEquals}}
              
              {{#ifEquals select 'orders'}}
							<div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                {{!-- <table class="table table-borderless main">
                  <thead>
                      <tr class="head">
                          <th scope="col">Order ID</th>
                          <th scope="col">Created</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Total</th>
                          <th scope="col">Profit</th>
                          <th scope="col">Status</th>
                          <th scope="col">Updated</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="rounded bg-white">
                          <td class="order-color">121 091</td>
                          <td>Mar 21</td>
                          <td class="d-flex align-items-center"> <img src="https://i.imgur.com/C4egmYM.jpg" class="rounded-circle" width="25"> <span class="ml-2">Harrient Santigo</span> </td>
                          <td>$604.50</td>
                          <td>$182.40</td>
                          <td>
                              <div class="dropdown"> <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"> Authorized </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <li><a class="dropdown-item" href="#">Yes</a></li>
                                      <li><a class="dropdown-item" href="#">No</a></li>
                                  </ul>
                              </div>
                          </td>
                          <td>Today</td>
                      </tr>
                  </tbody>
              </table> --}}

              {{#if orders}}
              <div class="table-responsive">
                <table class="table table-striped table-dark table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Order ID</th>
                      {{#ifEquals user.role 'admin'}}<th>Customer</th>{{/ifEquals}}
                      <th>Status</th>
                      <th>Total</th>
                      <th>Cash Tendered</th>
                      <th>Created</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    {{#each orders}}
                    <tr>
                      <td>{{math @index "+" 1}}</td>
                      <td>{{orderId}}</td>
                      {{#ifEquals ../user.role 'admin'}}<td>{{user.name}}</td>{{/ifEquals}}
                      <td><span class="badge badge-success">Delivered</span></td>
                      <td>₦{{formatPrice totalPrice}}</td>
                      <td>₦{{formatPrice cashTendered}}</td>
                      <td class="text-capitalize">{{formatDateToNow createdAt}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
              {{else}}
              <div class="text-center padding-top padding-bottom">
                <h4 class="text-white">No Orders Yet</h4>
                <p class="mt-4" style="color: #fc2547; text-shadow: 0 0 #fc2547;">Browse through our foods to add any food of your choice available to cart & checkout</p>
                <a href="/foods" class="btn btn-large rounded-pill main-btn">Browse Foods</a>
              </div>
              {{/if}}
							</div>
              {{/ifEquals}}
                
                
              {{#ifEquals select 'foods'}}
							<div class="tab-pane fade show active" id="foods" role="tabpanel" aria-labelledby="foods-tab">
                <button class="btn btn-large rounded-pill main-btn mb-4 add-food">Add Food</button>

                <!-- Add Food Modal -->
                <div class="modal-overlay">
                  <div class="modal foodAddModal">
                    <div class="modal-content">
                      <a class="close-modal foodAddModal">
                        <svg viewBox="0 0 20 20">
                          <path fill="#fff" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                        </svg>
                      </a>
                      <h4 class="text-white" style="margin-top: -10px;">Add Food</h4>
                      <form action="/dashboard/foods/id" method="POST" autocomplete="off" style="margin-top: 20px;">
                        <input class="form-control" add type="text" name="name" placeholder="Name" required>
                        <textarea class="form-control" add type="text" name="description" placeholder="Description" required></textarea>
                        <input class="form-control" add type="number" name="price" placeholder="Price" required>
                        <input class="form-control" add type="number" name="quantity" placeholder="Quantity Available" required>
                        
                        <button type="submit" class="btn btn-large rounded-pill main-btn">Save</button>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="row">
                  {{#each foods}}
                    <div class="col-md-6 col-sm-12">
                      <div class="dashboard-food card" id="{{slug}}">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="/uploads/{{photo}}" class="card-img-top" alt="{{name}}">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title truncate">{{name}}</h5>
                                    <p class="card-text">{{description}}</p>
                                    <button class="btn btn-sm btn-primary food-edit mr-2" data-food-id="{{_id}}" data-food-name="{{name}}" data-food-description="{{description}}" data-food-price="{{price}}" data-food-quantity="{{quantity}}"><i class="la la-pen"></i></button>
                                    <button type="submit" class="btn btn-sm btn-danger food-delete" data-food-id="{{_id}}"><i class="la la-trash-alt"></i></button>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  {{/each}}
                
                <!-- Edit Food Modal -->
                <div class="modal-overlay">
                  <div class="modal foodEditModal">
                    <div class="modal-content">
                      <a class="close-modal foodEditModal">
                        <svg viewBox="0 0 20 20">
                          <path fill="#fff" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                        </svg>
                      </a>
                      <h4 class="text-white" style="margin-top: -10px;">Edit Food</h4>
                      <form action="/dashboard/foods/id" method="POST" autocomplete="off" id="foodEditForm" style="margin-top: 20px;">
                        <input type="hidden" name="_method" value="PUT">
                        <input class="form-control" type="text" name="name" placeholder="Name" required>
                        <textarea class="form-control" type="text" name="description" placeholder="Description" required></textarea>
                        <input class="form-control" type="number" name="price" placeholder="Price" required>
                        <input class="form-control" type="number" name="quantity" placeholder="Quantity Available" required>
                        
                        <button type="submit" class="btn btn-large rounded-pill main-btn">Update Food</button>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- Food Delete Form -->
                <form action="/dashboard/foods/id" method="POST" class="d-none" id="foodDeleteForm">
                  <input type="hidden" name="_method" value="DELETE">
                </form>

                </div>
							</div>
              {{/ifEquals}}

              {{#ifEquals select 'users'}}
              <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
								<div class="container-xl">
                  <div class="users-table table-responsive">
                    <div class="table-wrapper">
                      <table class="table table-striped table-dark table-bordered">
                        <thead>
                          <tr class="bg-black">
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            {{!-- <th>Date Created</th> --}}
                            <th>Role</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each users}}
                          <tr>
                            <td>{{math @index "+" 1}}</td>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            {{!-- <td>{{formatDate createdAt}}</td> --}}
                            <td class="text-capitalize">{{role}}</td>
                            <td>
                              <a class="edit"><i class="la la-user-edit"></i></a>
                              <a class="delete"><i class="la la-user-minus"></i></a>
                            </td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
							</div>
              {{/ifEquals}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
{{> footer}}